body {
    padding-top: 0px;
}

.portfolio-item {
    margin-bottom: 25px;
}

nav {
    background: url(../images/broken_noise.png) repeat center center scroll;
    height: 60px;   

}

.navbar-brand {
    background: url(../images/nav.png) no-repeat center center scroll;
    width: 300px;
}

#navbar {
    margin-top: 3px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #e4e4e4;
}

#donate {
    background-color: #d92b54;
}

#donate:hover {
    background-color: #991c3a;
    font-weight: 700;
    border-radius: 4px;
}

.btn-primary {
    border: none;
}

.btn {
    padding: 10px 12px;
}

body {
    margin-top: 50px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: url(../images/light_toast.png) repeat center center scroll;
}

.navbar-brand {
    font-family: 'Knewave', cursive;
    font-weight: 400; 
    font-size: 20px;
    color: #e4e4e4;
}

ul {
    font-size: 12px;
    color: #e4e4e4;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url(../images/banner2.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.h1-go-rogue {
    font-family: 'Knewave', cursive;
    font-weight: 400; 
    font-size: 150px;
    color: #e4e4e4;
}

.h2-go-rogue {
    font-family: 'Knewave', cursive;
    font-weight: 400; 
    font-size: 50px;
    color: #e4e4e4;
}

#header {
    display: block;
    height: 400px;
    background: url(../images/broken_noise.png) repeat center center scroll;
    width: 100%;
}

.headline {
    padding: 300px 0;
}

/*.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.5);

}*/

.headline h2 {
    font-size: 77px;
    /* background: #fff;
    background: rgba(255,255,255,0.9);*/
    line-height: 20px;
}

h2.section-heading {

    margin-top: 60px;
    margin-bottom: 60px;
}

h3 {
    font-family: 'Knewave', cursive;
    font-weight: 400;
    color: inherit;

}

h3.page-header {
    font-size: 60px;
    text-align: center; 
    margin-bottom: 60px;
    margin-top: 10px;
}

#manifesto {
    font-family: 'Knewave', cursive;
    font-weight: 400; 
    color: #ff7d45;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 50px;
}

p.text-faded {
    margin-top: 70px;
    font-size: 2.1vmin;
    font-weight: 300;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    color: #e4e4e4;
}

.service-box i {
    font-size: 40px;
    color: #337ab7;
}

#hdiw {
    font-family: 'Knewave', cursive;
    font-weight: 400; 
    font-size: 60px;
    color: inherit;
}

div.col-sm-3.col-xs-6 {
    padding-left: 10px;
    padding-right: 10px;
}

#images {
    margin-top: 50px;
    margin-bottom: 50px;
}

#shop {
    margin-bottom: 70px;
}

#shop-btn {
    font-family: 'Knewave', cursive;
    font-weight: 400; 
    font-size: 20px;
    color: #e4e4e4;
    margin: auto;
    width: 200px;
    margin-top: 45px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

 #contact{
    padding: 40px 0 10px;
    background: url(../images/broken_noise.png) repeat center center scroll;
    width: 100%;
  }

i.glyphicon.glyphicon-envelope {
    font-size: 32px;
    color: #e4e4e4;
}

.contact-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    color: #e4e4e4;
  }

#contact-header {
    font-family: 'Knewave', cursive;
    font-weight: 400; 
    font-size: 60px;
    color: #e4e4e4;
    text-align: center; 
    margin-top: 0;
    margin-bottom: 20px;
  }

footer {
    margin: 50px 0;
    color: #e4e4e4;
    text-align: center;
}